.section-header{
    /* background-image: url('/assets/dist/img/banner.png'); */
    width: 100%;
    height: 300px;
}
.section-testimoni{
    padding: 30px;
    width: 100%;
    height: 300px;
    background: url(/../assets/dist/img/bg_banner.jpg)no-repeat;
    background-size: cover;
	background-position: center;
    justify-content: center;
    position: relative;
}
.section-footer{
    background-color: #007bff;
    width: 100%;
    height: 300px;
    padding-top: 60px;
    padding-bottom: 30px;
    display: inline-table;
}
.gallerybox{
    margin-bottom: 10px;
}

.section-team{
    background-color: #007bff;
    width: 100%;
    padding: 60px;
    padding-bottom: 80px;
    display: inline-table;
    color: white;
    margin-bottom: 30px;
}
.section-team small{
    color: rgb(224, 220, 220);
}
.pricesmall{
    font-size: 10px;
}
.removebott{
    margin-bottom:0px
}
.usecolor{
    color:green;
}
.unusecolor{
    color:red;
}
.section{
    margin-bottom: 50px;
}
.videogallery{
    padding: 30px;
    color:white;
    background-color: #007bff;
}
.cardtesti{
    border: 1px solid grey;
    padding: 30px;
    color: grey;
    margin-top: 10px;
}
.testi{
    color: black;
    background-color: white;
}
.videogallery a{
    color: white;
}
.videogallery a:hover{
    color: yellow;
}
.linkfollow{
    color: rgb(230, 228, 228);
    cursor: pointer;
}

.linkfollow:hover{
    color: white;
}

.aboutus{
    padding-left: 30px;
}



.profteam{
    background-color: #333;
    color: white;
    padding-top: 30px;
    padding-bottom: 60px;
}
div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
  }


  div.scrollmenu::-webkit-scrollbar {
    width: 100px;
    height: 10px;             /* width of the entire scrollbar */
  }
  div.scrollmenu::-webkit-scrollbar-track {
    background: #333;        /* color of the tracking area */
  }

  div.scrollmenu::-webkit-scrollbar-thumb {
    background-color: transparent;    /* color of the scroll thumb */
    border-radius: 20px;      /* creates padding around scroll thumb */
  }
  div.scrollmenu::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.26);    /* color of the scroll thumb */
    border-radius: 20px;      /* creates padding around scroll thumb */
  }
  .conprof{
      border: 1px solid lightgray;
      margin-left: 10px;
  }

  div.scrollmenu .conprof {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 34px;
    text-decoration: none;
  }

  div.scrollmenu .conprof:hover {
    background-color: #777;
  }

  .cardtesti .text-justify:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}
.cardtesti .text-justify:after {
    content: "\f10e";
    font-family: 'Fontawesome';
    margin-left: 10px;
}
